@import '@/styles/mixins.scss';

.logo {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease;

  @include focus-visible;

  &:hover {
    opacity: 0.8;
  }
}

.text {
  font-weight: 700;
  color: var(--primary-color);
  font-size: 1.5rem;

  @include md {
    font-size: 1.75rem;
  }
}
