@import '@/styles/mixins.scss';

.selectGroup {
  margin-bottom: var(--spacing-lg);
}

.title {
  margin-bottom: var(--spacing-md);
  color: var(--text-primary);
  font-weight: 500;
}

.selectsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  @include md {
    gap: var(--spacing-lg);
  }
}
