@import '@/styles/mixins.scss';

.button {
  text-transform: none;
  font-weight: 500;
  padding: var(--spacing-sm) var(--spacing-lg);
  border-radius: var(--border-radius);
  transition: all 0.3s ease;

  @include focus-visible;

  @include sm {
    padding: var(--spacing-md) var(--spacing-xl);
  }

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }
}
